.productButton {
  border: 1px solid #333;
  width: 80%;
  min-width: 180px;
  padding: 10px;
  position: absolute;
  bottom: 20px;
  box-sizing: border-box;
  left: 10%;

  &-text {
    font-size: 16px;
    font-weight: bold;
  }

  &-arrow {
    float: right;
    margin-right: 15px;
    font-size: 14px;
  }
}

