body {
  height: calc(100vh - 16px);
}

body #root {
  height: 100%;
}

body #root .App {
  height: 100%;
}

.productCompare {
  height: auto;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .productCompare {
    height: 100%;
    display: table;
  }
}
