.product {
  position: relative;
  font-family: Helvetica, Arial, sans-serif;
  border: 1px solid #333;
  margin: 10px;
  padding: 10px;
  width: calc(33% - 20px);
  float: left;
  height: calc(100% - 20px);
  min-height: 400px;
  box-sizing: border-box;

  &-info {
    display: inline-block;
    background: transparent;
    vertical-align: middle;
    height: 14px;
    width: 14px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iNTEwcHgiIGhlaWdodD0iNTEwcHgiIHZpZXdCb3g9IjAgMCA1MTAgNTEwIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MTAgNTEwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8Zz4NCgk8ZyBpZD0iaW5mby1vdXRsaW5lIj4NCgkJPHBhdGggZD0iTTIyOS41LDM4Mi41aDUxdi0xNTNoLTUxVjM4Mi41eiBNMjU1LDBDMTE0Ljc1LDAsMCwxMTQuNzUsMCwyNTVzMTE0Ljc1LDI1NSwyNTUsMjU1czI1NS0xMTQuNzUsMjU1LTI1NVMzOTUuMjUsMCwyNTUsMHoNCgkJCSBNMjU1LDQ1OWMtMTEyLjIsMC0yMDQtOTEuOC0yMDQtMjA0UzE0Mi44LDUxLDI1NSw1MXMyMDQsOTEuOCwyMDQsMjA0UzM2Ny4yLDQ1OSwyNTUsNDU5eiBNMjI5LjUsMTc4LjVoNTF2LTUxaC01MVYxNzguNXoiLz4NCgk8L2c+DQo8L2c+DQo8L3N2Zz4=);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px;
    margin-left: 3px;
  }

  &-info:hover {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iNTEwcHgiIGhlaWdodD0iNTEwcHgiIHZpZXdCb3g9IjAgMCA1MTAgNTEwIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MTAgNTEwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8Zz4NCgk8ZyBpZD0iaW5mbyI+DQoJCTxwYXRoIGQ9Ik0yNTUsMEMxMTQuNzUsMCwwLDExNC43NSwwLDI1NXMxMTQuNzUsMjU1LDI1NSwyNTVzMjU1LTExNC43NSwyNTUtMjU1UzM5NS4yNSwwLDI1NSwweiBNMjgwLjUsMzgyLjVoLTUxdi0xNTNoNTFWMzgyLjV6DQoJCQkgTTI4MC41LDE3OC41aC01MXYtNTFoNTFWMTc4LjV6Ii8+DQoJPC9nPg0KPC9nPg0KPC9zdmc+)
  }

  & ul {
    margin: 0 0 60px 0;
    padding: 0 0 0 30px;
  }
}

@media only screen and (max-width: 768px) {
  .product {
    float: none;
    width: calc(100% - 20px);
    margin: 5px;
    height: auto;
    min-height: 400px;
  }
}

.productDesc {
  height: auto;
  min-height: 100px;
}



.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  display: none;
  width: 120px;
  background-color: #eee;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -5px;
  border: 5px solid transparent;
  border-bottom-color: #eee;
}

.tooltip:hover .tooltiptext {
  display: block;
}
